@media (max-width: 600px) {
  body {
    background-color: rgb(13, 109, 116);
  }
  .main {
    width: 100vw;
    height: auto;
  }
  .mainBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .scroll--item {
    height: 240px;
  }
  .scroll--item {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
  }

  .right__block {
    height: auto;
    text-align: center;
  }
  .right__block {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn {
    width: 160px;
    height: 30px;
    border-radius: 6px;
    /* font-size: 16px; */
    margin: 0px auto;
  }
  .output--info {
    border-radius: 10px;
    padding: 30px 10px;
    text-align: center;
  }

  .audio {
    /* position: relative; */
    left: 50%;
    transform: translateX(-50%);
    bottom: -500px;
  }
}
